nav{
    display: flex;
    justify-content: space-around;
    align-items: left;
    min-height: 10vh;
    margin: -10px;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#Logout:hover{
    cursor: pointer;
}

#profile:hover{
    cursor: pointer;
}

#Cards:hover{
    cursor: pointer;
}

#profile{
    width: 100px;
    height: 100px;
}


#Cards{
    width: 100px;
    height: 100px;
}

#Logout{
    width: 100px;
    height: 100px;
}


