#logoutIcon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
   
}

#logoutIcon:hover{
    width: 53px;
    height: 53px;
}

#boardTitle{
    font-size: 20px;
}

#peopleIcon{
    width: 50px;
    height: 50px;
    top: 10px;
    right: 70px;
    position: absolute;
}

#backgroundsIcon{
    width: 50px;
    height: 50px;
    top: 10px;
    right: 130px;
    position: absolute;
}

#backgroundsIcon:hover{
    width: 53px;
    height: 53px;
}

#peopleIcon:hover{
    width: 53px;
    height: 53px;
}

#imgs{
    width: 200px;
    border-radius: 10px;
    border-color: lightblue;


}

#imgs:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    transform: scale(1.08);
    transition: 0.5s;
    cursor: pointer;
}

.background-selected{
    border: 10px solid blue;
}

