.boardDescription {
    word-wrap: break-word;
    height: 150px;
    width: 250px;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#add-button {
    background-color: rgb(80, 80, 199);
    color: white;
    padding: 20px;
}

.row {
    display: flex;
    width: 100%;
}

.row div {
    width: 50%;
}

.row div h2 {
    margin: 0;
    padding: 20px;
}

.row div:nth-child(2) {
    text-align: right;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

body {
    background-image: url('../assets/img/wallpaper_home_boards.webp');
    background-attachment: fixed;
    background-size: cover;
}

.actions {
    text-align: right;
    background-color: white;
}

.item:hover {
    -webkit-animation: none;
    transform: scale(1.05);
    transition: 0.5s;
}

/* .item {
    border: 0.4px dotted black;
    border-radius: 5px 40px 0px 40px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.03);
} */

#error{
    color: red;
    visibility: hidden;
}

#addIcon{
    margin-left: 5px;
}

#addBoardTitle{
    
}

#addDialogEl{
    
}

#closeIcon{
    margin-left: 5px;
}

#buttonsAddDialog{
    margin: 5px;
}

#addDialogElements{
    margin: 10px;
}

#addBoardTitle{
    font-weight: 900;
}

#editBoardDialog{
    font-weight: 900;
}

#boardDescription{
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 8px #000;
    z-index: 1;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.5s;
    opacity: 0;
}

.MuiListItem-gutters {
    padding: 0 !important;
}