*{
    margin: 0;
    padding: 0;
}

#homeIcon{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-bottom: -10px;
}
#homeIcon:hover{
    cursor: pointer;
    background-color: rgb(212, 240, 255);
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

#peopleIcon{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-bottom: -10px;
}
#peopleIcon:hover{
    cursor: pointer;
    background-color: rgb(212, 240, 255);
}

#header{
    width: 100%;
    padding: 5px;
    background-color: white;
}

#boardInfo{
    
    padding: 5px;
    background-color: white;
}

#Logo{
    margin-top:-5px;
    margin-left: 40%;
    margin-right: auto;
    vertical-align:middle;
    margin-bottom: 10px;
}

#logoutBtn{
    position: absolute; 
    top: 0;
    right: 0;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 5px;
    margin-right: 5px;
}

#logoutBtn:hover{
    cursor: pointer;
}

#logoutBtn:hover{
    cursor: pointer;
    background-color: rgb(212, 240, 255);
}

#kanbanElement{
    margin-top: 30px;
}