.background_signup{
    background: url(../assets/img/wallpaper_signup.webp) no-repeat;
    /* Center and scale the image nicely */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#container{
    background-color: white !important;
    border-radius: 10px;
    position: absolute;
    padding-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
